@media (max-width:360px){
    .head{
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        padding: 40px;
    }

    .container{
        display: block;
        padding: 40px;
    }

}

