@media (max-width:360px){
    .head{
        display: none;
        flex-direction: row;
    }

    .img-arbol{
        width: 50%;
        height: 95px;
    }

    /* .container{
        width: 100%;
        height: 200px;
    } */

    .form-personales{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container .datos-personales{
        display: block;
        flex-direction: row;
    
    }

}

